body {
    max-width: 940px;
    margin: 0px auto;
    font-family: Helvetica;
    color: black;
}

header{
    max-width: 960px;
    background-color: lightgrey;
}

nav {
    max-width: 780px;
    float: right;
    margin-top: 15px;
}

li {
    display: inline;
}

.nav-button {   
    height: 125px;
    width: 125px;
    border: none;
}

.nav_text {
    text-align: center;
    font-family: Helvetica;
    font-weight: lighter;
    color: black;
  
}

#logo-address {
    width: 500px;
}

a{
    text-decoration: none;
}

.index_headline{
    font-family: Helvetica;
    font-weight: lighter;
}

#main {
margin: 20px auto;
max-width: 940px;
/*background-color: red;*/
/*border:2px solid black;*/
height: 515px;
}

h1 {
font-size: 200%;
font-family: Helvetica;
font-weight: bold;
color:black;
text-align: center;
}

#hero_image{
    border: none;
    height: 450px;
    width: 450px;
    float: left;
    margin-right: 10px;
   
}


p {
font-family: Courier New, Courier, monospace;
color: black;
margin-top: 150px;
}

form{
    font-size: 18px;
}

fieldset{
    height: 75px;
    text-align: center;
    border-color: red;
}
input{
    font-size:18px;
    margin-top: 10px;
    margin-right:30px;
}

input[name="email"]{
    width:300px;
}

input[name="submit"]{
    font-size: 60px;
    color: red;
    display: inline-block;
}

inputinput[name="submit"]:hover{
background:blue;
}


#gameboard {
    /*background-color: aqua;*/
    float: left;
    clear: both;
    width: 940px;
    margin: 0px auto;
}


button {
    width: 200px;
    height: 50px;
    font-family: Helvetica;
    font-size: 30px;
    color: slategray;
    background-color: lightgrey;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: 370px;
}

section {
    max-width: 690px;
    margin: 0px auto;
    /*background-color: yellow;*/
    float: left;
    margin-left: 125px;
}

section:last-child {
    clear: both;
}


figure {
    float: left;
    margin: 0px;
}

img {
    height: 320px;
    width: 320px;
    border: 1px solid black;
    margin: 6px 10px;
}

.logo {
    height: 200px;
    width: 200px;
    border:none;
}

#footer_logo{
    height: 75px;
    width: 75px;
   
}

footer {
    /*background-color: green;*/
    width: 940px;
    float: left;
    text-align: center;
    font-size: 20px;
    margin: 15px 0px;
}

